@model IEnumerable<ClinicaSonrrisaPlena.Models.Entities.HistorialTratamiento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tratamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odontologo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tratamiento.IdTratamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odontologo.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHistorial">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHistorial">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHistorial">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
